body {
  min-height: 100%;
  font-family: Roboto;
  background: #F1F1F1;
}

.searchbox {
  padding-top: 15px;
}

.btn-primary a {
  color: white;
}

.btn-primary a:hover,
.btn-primary a:focus {
  text-decoration: none;
}

aside {
  padding: 15px;
}

span.ais-pagination--link {
  display: none;
}

section aside #categories .active > div > a > .badge {
  background: #333333;
}

#categories {
  overflow: scroll;
  height: 70%;
  margin-top: 15px;
}

@media (max-width: 768px) {
  #categories {
    height: 40%;
  }
}

.ais-hierarchical-menu--list {
  margin-left: 15px;
}
.ais-hierarchical-menu--list__lvl0 {
  margin: 0;
}

section {
  background: #F1F1F1;
  min-height: 100%;
  z-index: 1; }
  section aside {
    background: #FFFFFF;
    border-right: 1px solid #E8E8E8; }
    section aside .badge {
      font-size: .8em;
      background: #BBBBBB;
      position: relative;
      top: 1px; }
    section aside #categories label {
      display: block;
      cursor: pointer;
      padding: 4px 4px 4px 8px;
      font-weight: normal;
      font-size: .9em;
      margin: 0 0 -1px; }
      section aside #categories label:hover {
        color: #FFFFFF;
        background: #333333; }
      section aside #categories label input {
        display: none; }
    section aside #categories .active label {
      border: 1px solid #CE1312;
      margin-top: -1px; }
    section aside #ratings {
      margin-left: 10px; }
      section aside #ratings .ais-stars-list--link {
        font-size: .9em; }
        section aside #ratings .ais-stars-list--link:hover, section aside #ratings .ais-stars-list--link:active, section aside #ratings .ais-stars-list--link:focus {
          text-decoration: none; }
      section aside #ratings .ais-stars-list--count {
        font-size: 8px; }
      section aside #ratings .ais-star-rating--item {
        margin-bottom: 6px; }
      section aside #ratings .ais-star-rating--item__active a {
        color: #CE1312; }
  section article {
    padding: 10px 0;
    max-width: 100%;
    background: #FFFFFF;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); }
    section article #stats {
      padding-right: 14px;
      font-size: .8em;
      line-height: 24px; }
    section article #pagination .pagination a {
      background: #F8F8F8;
      padding: 3px 8px;
      color: #333333;
      margin-right: 4px; }
      section article #pagination .pagination a.active {
        border-color: #b5b5b5;
        background: #E8E8E8; }
      section article #pagination .pagination a:hover {
        border-color: #cfcfcf;
        background: #ebebeb; }
    section article .hit {
      margin-bottom: 10px;
      height: 130px;
      border: 1px solid #F3F3F3; }
      section article .hit em {
        font-style: normal;
        background: #FFFFD4;
        text-decoration: underline; }

.ais-search-box--input {
  padding-left: 14px; }

.category .badge {
  background: #BBBBBB; }

